<div data-controller="items">
  <%= form_with model: @bill do |form| %>

    <%= form.fields_for :client do |client_fields| %>

      <%= client_fields.label :name, "Nom" %>
      <%= client_fields.text_field :name %>

      <%= client_fields.label :address, "Addresse" %>
      <%= client_fields.text_field :address %>

      <%= client_fields.label :post_code, "Code postal" %>
      <%= client_fields.text_field :post_code %>

      <%= client_fields.label :city, "Ville" %>
      <%= client_fields.text_field :city %>

      <%= client_fields.label :siret_number, "SIRET" %>
      <%= client_fields.text_field :siret_number %>

      <%= client_fields.label :tva_number, "Numéro de TVA" %>
      <%= client_fields.text_field :tva_number %>

      <%= client_fields.label :email, "Email" %>
      <%= client_fields.text_field :email %>

      <%= client_fields.label :phone_number, "Téléphone" %>
      <%= client_fields.text_field :phone_number %>

    <% end %>

    <%= form.button 'Ajouter un article', data: { action: "click->items#addItem" } %>

    <%= form.submit "Générer la facture" %>
  <% end %>
</div>
