<div id='about' class="container-black container-padding-y">
  <div class="about-disclaimer">
    <p class='text-grey'>À PROPOS</p>
    <div class='disclaimer-list'>
      <h3 class='text-white spacing-between-line'><%= ('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore').upcase %></h3>
      <div class="disclaimer-description">
        <p class='text-grey'>01.</p>
        <p class='text-large text-white text-regular spacing-between-line'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore</p>
      </div>
      <div class="disclaimer-description">
        <p class='text-grey'>02.</p>
        <p class='text-large text-white text-regular spacing-between-line'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa totam perferendis sed, fugit labore quibusdam unde voluptate quo inventore</p>
      </div>
    </div>
  </div>
  <div class="about-expertise">
    <p class='text-grey'>EXPERTISES</p>
    <div>
      <div class="skill-category">
        <h4 class='text-white'>Front-end</h4>
        <div class='skill-category-row'>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_html', alt: 'icone HTML' %>
            <p class='text-white'>HTML</p>
          </div>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_css', alt: 'icone CSS' %>
            <p class='text-white'>CSS</p>
          </div>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_javascript', alt: 'icone JAVASCRIPT' %>
            <p class='text-white'>JAVASCRIPT</p>
          </div>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_stimulus', alt: 'icone STIMULUS' %>
            <p class='text-white'>STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4 class='text-white'>Back-end</h4>
        <div class='skill-category-row'>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_ruby', alt: 'icone RUBY' %>
            <p class='text-white'>RUBY</p>
          </div>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_rails', alt: 'icone RAILS' %>
            <p class='text-white'>RAILS</p>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4 class='text-white'>Base de données</h4>
        <div class='skill-category-row'>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_mysql', alt: 'icone My SQL' %>
            <p class='text-white'>MySQL</p>
          </div>
          <div class="skill-block">
            <%= image_tag 'icones_language/icone_postgresql', alt: 'icone POSTGRE SQL' %>
            <p class='text-white'>POSTGRE SQL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
