<div data-smartphone-target='about' data-scroll-target='about'
     data-appear-target="category" class="container-basic container-padding-y">
  <div class="about-disclaimer">
    <p data-appear-target='aboutAppear' class='text-grey left-hidden'>À PROPOS</p>
    <div class='disclaimer-list'>
      <h3 data-appear-target='aboutAppear' class='text-white spacing-little-line hidden-bottom'>
        Passionné par les technologies du web, je suis un développeur fullstack qui aime combiner créativité et convivialité des interfaces.
      </h3>
      <div data-appear-target='aboutAppear' class="disclaimer-description hidden-bottom">
        <p class='text-grey'>01.</p>
        <p class='text-biggest text-white text-regular spacing-large-line'>Collaborant étroitement avec des équipes orientées vers la conception web et sites sur mesure, ma capacité à m'adapter rapidement et à travailler efficacement en équipe me permet de contribuer pleinement aux projets.</p>
      </div>
      <div data-appear-target='aboutAppear' class="disclaimer-description hidden-bottom">
        <p class='text-grey'>02.</p>
        <p class='text-biggest text-white text-regular spacing-large-line'>Créer des expériences web attrayantes et conviviales en adaptant mes solutions aux besoins spécifiques des clients est mon leitmotiv. Ceci ayant pour but d'offrir des expériences web de qualité.</p>
      </div>
    </div>
  </div>
  <div class="about-expertise">
    <p data-appear-target='aboutAppear' class='text-grey left-hidden'>EXPERTISES</p>
    <div>
      <div class="skill-category">
        <h4 data-appear-target='aboutAppear' class='text-white hidden-bottom'>Front-end</h4>
        <div class="skill-category-wrapper">
          <div data-appear-target='aboutAppear' class='skill-category-row hidden-bottom'>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_html.svg', alt: 'icone HTML' %>
              <p class='text-white'>HTML</p>
            </div>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_css.svg', alt: 'icone CSS' %>
              <p class='text-white'>CSS</p>
            </div>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_javascript.svg', alt: 'icone JAVASCRIPT' %>
              <p class='text-white'>JAVASCRIPT</p>
            </div>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_stimulus.svg', alt: 'icone STIMULUS' %>
              <p class='text-white'>STIMULUS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4 data-appear-target='aboutAppear' class='text-white hidden-bottom'>Back-end</h4>
        <div class="skill-category-wrapper">
          <div data-appear-target='aboutAppear' class='skill-category-row hidden-bottom'>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_ruby.svg', alt: 'icone RUBY' %>
              <p class='text-white'>RUBY</p>
            </div>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_rails.svg', alt: 'icone RAILS', class: 'text-icone' %>
              <p class='text-white'>RAILS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4 data-appear-target='aboutAppear' class='text-white hidden-bottom'>Base de données</h4>
        <div class="skill-category-wrapper">
          <div data-appear-target='aboutAppear' class='skill-category-row hidden-bottom'>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_mysql.svg', alt: 'icone My SQL', class: 'text-icone' %>
              <p class='text-white'>MySQL</p>
            </div>
            <div class="skill-block">
              <%= image_tag 'icones_language/icone_postgresql.svg', alt: 'icone POSTGRE SQL' %>
              <p class='text-white'>POSTGRE SQL</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
