<div data-smartphone-target='projects' data-scroll-target='projects'
     class="container-basic container-padding-y">
  <div data-appear-target='projectAppear' class="projects-title hidden-bottom">
    <p class='text-grey'>2023</p>
    <h2>PROJETS RÉALISÉS</h2>
  </div>
  <div class="projects-grid">
    <div data-appear-target='projectAppear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/breizh_secrets.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <h5>BREIZH SECRETS</h5>
          <p class='text-grey text-regular'>Site de partage de secrets</p>
        </div>
        <%= link_to 'https://www.breizhsecrets.eu/', target: '_blank' do %>
          <div class="project-icone-plus-smartphone">
            <%= image_tag 'icones/plus.svg' %>
            <p>Découvrir</p>
          </div>
          <div class="project-icone-plus">
            <%= image_tag 'icones/plus.svg' %>
          </div>
        <% end %>
      </div>
    </div>
    <div data-appear-target='projectAppear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/breizh_secrets.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <h5>BREIZH SECRETS</h5>
          <p class='text-grey text-regular'>Site de partage de secrets</p>
        </div>
        <%= link_to 'https://www.breizhsecrets.eu/', target: '_blank' do %>
          <div class="project-icone-plus-smartphone">
            <%= image_tag 'icones/plus.svg' %>
            <p>Découvrir</p>
          </div>
          <div class="project-icone-plus">
            <%= image_tag 'icones/plus.svg' %>
          </div>
        <% end %>
      </div>
    </div>
    <div data-appear-target='projectAppear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/breizh_secrets.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <h5>BREIZH SECRETS</h5>
          <p class='text-grey text-regular'>Site de partage de secrets</p>
        </div>
        <%= link_to 'https://www.breizhsecrets.eu/', target: '_blank' do %>
          <div class="project-icone-plus-smartphone">
            <%= image_tag 'icones/plus.svg' %>
            <p>Découvrir</p>
          </div>
          <div class="project-icone-plus">
            <%= image_tag 'icones/plus.svg' %>
          </div>
        <% end %>
      </div>
    </div>
    <div data-appear-target='projectAppear' class="project-card hidden-bottom">
      <div class="project-cover">
        <%= image_tag 'projects_cover/breizh_secrets.jpg', class: 'project-image'%>
        <div class="project-date">
          <p class="text-white text-small text-visible">MARS 2023</p>
        </div>
        <div class="project-skills-list">
          <div class="project-skill">
            <p class="text-white text-small text-visible">RAILS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">POSTGRE SQL</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">HTML</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">CSS</p>
          </div>
          <div class="project-skill">
            <p class="text-white text-small text-visible">STIMULUS</p>
          </div>
        </div>
      </div>
      <div class="project-infos">
        <div>
          <h5>BREIZH SECRETS</h5>
          <p class='text-grey text-regular'>Site de partage de secrets</p>
        </div>
        <%= link_to 'https://www.breizhsecrets.eu/', target: '_blank' do %>
          <div class="project-icone-plus-smartphone">
            <%= image_tag 'icones/plus.svg' %>
            <p>Découvrir</p>
          </div>
          <div class="project-icone-plus">
            <%= image_tag 'icones/plus.svg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
