<div data-controller='loading'>
  <%= render 'loading_page' %>
  <div class="container">
    <div data-loading-target='landing' class='landing'>
      <%= render 'navbar' %>
      <div class="container-content">
        <h1>DÉVELOPPEUR <br>FULLSTACK</h1>
        <div class='content-infos'>
          <div class='content-description'>
            <div>
              <p class='text-large text-regular text-grey'>Bonjour,
              <br>Je suis Kévin Tchiadeu, <%= @age %> ans, développeur fullstack freelance basé à Rennes.
              Je vous propose mes services dans la conception de vos plateformes digitales.</p>
              <div class="button button-black button-icone">
                <i class="fa-solid fa-envelope"></i>
                <p class='text-white'>Contactez-moi</p>
              </div>
            </div>
            <p>test</p> <%# <i class="fa-solid fa-arrow-down"></i> %>
          </div>
          <%= image_tag 'developpeur_web.jpg', alt: 'developpeur web', class: 'content-image' %>
        </div>
      </div>
      <%= render 'about' %>
      <%= render 'projects' %>
      <%= render 'contact' %>
    </div>
  </div>
</div>
