<div data-controller='loading'>
  <%= render 'loading_page' %>
  <div data-controller='scroll appear smartphone' data-loading-target='landing' class='landing'>
    <div class="container-white container-full-height">
      <%= render 'navbar' %>
      <div class="container-content">
        <h1>développeur <br>fullstack</h1>
        <div class='content-infos'>
          <div class='content-description'>
            <div class='content-description-principal'>
              <p class='text-biggest text-regular text-grey spacing-between-line'>👋 Bonjour,
              <br>Je suis Kévin Tchiadeu, <%= @age %> ans, développeur fullstack freelance basé à Rennes.
              Je vous propose mes services dans la conception de vos plateformes digitales.</p>
              <div class="button button-black button-home">
                <%= image_tag 'icones/mail.svg' %>
                <p class='text-white'>Contactez-moi</p>
              </div>
            </div>
            <div data-action='click->scroll#scrollToAbout' class="button">
              <%= image_tag 'icones/arrow.svg', class: 'arrow-down' %>
            </div>
          </div>
          <div class="content-cover-position">
            <div class="content-cover">
              <div class="content-cover-filter"></div>
              <%= image_tag 'developpeur_web.jpg', alt: 'developpeur web', class: 'content-image' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'about' %>
    <%= render 'projects' %>
    <%= render 'contact' %>
  </div>
</div>
