<div data-controller='loading'>
  <%= render 'loading_page' %>
  <div data-controller='scroll appear smartphone' data-loading-target='landing' class='landing'>
    <div data-smartphone-target='background' data-appear-target="contentContainer" class="container-basic container-full-height">
      <%= render 'navbar' %>
      <div data-smartphone-target='smartphoneOptions' class='smartphone-options'>
        <div data-action='click->smartphone#scrollTo' data-category="about" class='button'>
          <p class='text-large text-grey text-regular'>À propos</p>
        </div>
        <div data-action='click->smartphone#scrollTo' data-category="projects" class='button'>
          <p class='text-large text-grey text-regular'>Projets</p>
        </div>
        <div data-action='click->smartphone#scrollTo' data-category="contact" class='button'>
          <p class='text-large text-grey text-regular'>Contact</p>
        </div>
      </div>
      <div data-smartphone-target='content' class="container-content">
        <h1 class='slide-in-title slide-in-title-mobile'>
          développeur <br>fullstack
        </h1>
        <div class='content-infos'>
          <div class='content-description'>
            <div class='content-description-principal slide-in-description slide-in-description-mobile'>
              <p class='text-responsive text-regular text-grey spacing-large-line'>
                👋 Bonjour,
                <br>Je suis Kévin Tchiadeu, <%= @age %> ans, développeur fullstack freelance basé à Rennes.
                Je vous propose mes services dans la conception de vos plateformes digitales.
              </p>
              <a href="mailto:contact@kevintchiadeu.com">
                <div class="button button-black button-home slide-in-button slide-in-button-mobile">
                  <%= image_tag 'icones/mail.svg' %>
                  <p class='text-medium'>Contactez-moi</p>
                </div>
              </a>
            </div>
            <div data-action='click->scroll#scrollToAbout' class="button">
              <%= image_tag 'icones/arrow.svg', class: 'arrow-down slide-in-arrow slide-in-arrow-mobile' %>
            </div>
          </div>
          <div class="content-cover-position">
            <div class="content-cover">
              <div class="content-cover-filter cover-reveal cover-reveal-mobile"></div>
              <%= image_tag 'developpeur_web.jpg', class: 'content-image image-reveal image-reveal-mobile', alt: 'developpeur web' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'about' %>
    <%= render 'projects' %>
    <%= render 'contact' %>
  </div>
</div>
